
.container{
    display: flex;
	font-family: "WINGDINGS";
	/* font-family: "Copperplate"; */
    flex-flow: row wrap-reverse;
    justify-content:space-around;
    align-items: flex-start;
    background-color: rgb(216, 172, 118);
    border-radius: 40px;
    color: black;
}

#pic {
    display: flex;
    width: 300px;
    height: 300px;
    flex-flow: row;
    justify-content:flex-start;
    /* float: left; */
}

#text{
    flex-direction: column;
    width: 550px;
    font-size: 0.8em;
}

#bg_pics{
    background-color: rgba(93, 52, 132, 0.616);
    border-radius: 90px;
}

li{
    color:blueviolet;
    padding: .5em;
}

ul > li {
    border-top: 2px solid rgb(83, 5, 5);
    border-bottom: 2px solid rgb(239, 91, 91);
}  
li::before {
    content: '☐ ';
  }

div { 
    border: 1px solid green;
    padding: 10px;
    color:rgba(93, 5, 14, 0.564);
    /* text-overflow: ellipsis; */
    text-shadow: 5px 5px 5px rgba(211, 28, 28, 0.264);
    line-height: 10px; 
    /* white-space: nowrap; */
    cursor: pointer;
}

h1{
    color: inherit;
}

p::first-letter {
    font-size: 130%;
}

li:nth-child(2n) {
    color: lime;
}

h1::first-line { 
    color:rgb(49, 96, 17);
}

@media print {
    body { 
    font-size: 10pt;
    }

    #bg_pics img{
        max-width: 140px;
    }

    h1{
        max-width: 300px;
    }
}

@media (max-width: 800px) {
    p {
        color: rgb(78, 26, 26);
    }
    h1::first-line { 
        color:rgb(38, 38, 155);
    }
    .container{
        flex-direction: row;
        border-radius: 0px;
    }

    #bg_pics{
        flex-direction: column;
        border-radius: 2px;
    }

    #bg_pics img {
        width: 100%;
    }

    .img_world{
        order: 2;
    }

    .img_world2:hover{
        opacity: 30%;        
    }
    
      /* {
        opacity: 50%;    
    }   */

    .container h1:first-child {
        font-size: 120%;
        font-weight:lighter;
    }

    p::after {
        content: " Words that are shown after a pharagraph."
    }
      
    body{
        background:rgba(100, 183, 255, 0.245);
    }  
}
